@{
    ViewData["Title"] = "Show";

}

@section Styles{
    <link href='fullcalendar/main.css' rel='stylesheet' />
    <link href="~/fullcalendar/lib/main.css" rel="stylesheet" />
    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/twitter-bootstrap/js/bootstrap.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Eğitim merkezi</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Yetkili Kişi</h6>
                    <p class="card-text">Eğitim planlama sistemine hoş geldiniz</p>
                    <a href="/Manager/Logout" class="card-link">Çıkış yap</a>
                </div>
            </div> 
            <br />
            <ul class="list-group">
                <li class="list-group-item"> Prof.Ali Kaya <button class = "btn btn-sm mt-2 pull-left" style = "background-color:red;"</button></li>
                <li class="list-group-item"> Eğitici Sevgi Gür <button class = "btn btn-sm mt-2 pull-right" style = "background-color:blueviolet;"</button></li>
            </ul>
        </div>
        <div class="col-md-9">
            @*<div class="container"> </div>*@
            <div id="calendar"></div>

        </div>
    </div>
</div>
    
    


    @section Scripts {

        <script src="~/fullcalendar/lib/main.js"></script>
        <script src="~/fullcalendar/lib/locales-all.js"></script>


        <script>

            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {

                    //themeSystem:'bootstrap',
                    //bootstrapFontAwesome: {
                    //    listWeek : 'fa-list',
                    //},
                    locale: "tr",
                    timeFormat: 'h(:mm)a',
                    headerToolbar: {
                        left: 'prev,next today,addEvent',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                    },
                    footerToolbar: {
                        left: 'prevYear',
                        right: 'nextYear'
                    },
                    //scrollTime :'08:00:00',
                    minTime: '08:00:00',
                    //slotDuration: '00:15:00',
                    //slotLabelInterval: '00:15:00',
                    slotLabelFormat: {
                        hour: '2-digit',
                        minute: '2-digit',
                        //    /*omitZeroMinute: true, saatleri tek gösterir*/
                    },
                    fixedWeekCount: true,
                    //handleWindowResize: true,
                    //windowResizeDelay: 1000,
                    //windowResize: function (view) {
                    //    alert('Takvim yeniden boyutlandırıldı.');
                    //},
                    contentHeight: 450,
                    defaultView: 'dayGridMonth',
                    weekends: true,/*hafta sonlarını getirmez*/

                    titleFormat: {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric'
                    },
                    titleRangeSeparator: '/',
                    columnHeaderFormat: {
                        weekday: 'long',
                    },
                    customButtons: {
                        addEvent: {
                            text: 'Ekle',
                            click: function () {

                            }
                        }
                    },
                    //views: {
                    //    timeGridFourDay: {
                    //        type: 'timeGrid',
                    //        dayCount: 4,
                    //        //duration: {days : 4},
                    //        buttonText : '4 Gün'
                    //    }
                    //}
                    //eventTimeformat: {
                    //    hour: '2-digit',
                    //    minute: '2-digit',
                    //    /*second: '',*/
                    //},
                    validRange: {//Bu tarihten öncesini gösterme
                        start: '2020-09-30'
                    },
                    eventOrder: 'title',//sıralı getir/çalışmadı
                    timeZone: 'UTC',
                    events: [
                        {
                            id: 'x',
                            title: 'Merhaba',
                            start: '2022-09-25T08:00:00.000Z',
                            end: '2022-09-25T10:30:00.000Z'
                        },
                        {
                            id: 'a',
                            title: 'Merhabaa',
                            start: '2022-09-25T13:10:00.000Z',
                            end: '2022-09-25T15:30:00.000Z'
                        }
                    ],
                    eventRender: function (info) {
                        console.log(info.event.title);//event,el,isMirror
                    },
                    selectable: true,
                    select: function (selectionInfo) {
                        console.log(selectionInfo);
                        //seçildiğinde çalışmasını istediğim kodlar
                    },
                    eventClick: function (info) {
                        alert(info.event.title);
                    },
                    //eventMouseEnter: function (onMouse) {
                    //    alert(onMouse.event.start);
                    //}
                    //eventMouseLeave: function (onleave) {
                    //    alert(onleave.event.start);
                    //}
                    /*timeFormat: 'H(:mm)'*/
                    editable: true, // edit yapabiliyorum hareket ettirebiliyorum yani
                    //eventStartEditale : false, // başlangıç zamanını deiştirilebilir olup olmadığına bakar
                    //eventDurationEditable: false//başlangıç ve bitiş zaman aralığı sabit ve ben onu değiştiremiyorum.
                    //eventOverlap: function (stillEvent, movingEvent) {//çakışmaları önlemek için
                    //    //süzgeç
                    //    return stillEvent.allDay && movingEvent.allDay;
                    //},
                    //eventConstraint: { //sadece bu iki saat arasında güncellemeye izin ver
                    //    startTime : '08:00',
                    //    endTime: '22:00',
                    //    daysOfWeek : [1,2,3] // bu üç güne güncelleme için izin verilmez
                    //},
                    //eventAllow: function (dropInfoEvet, draggedEvent) {
                    //    //kontrol--mesela başlangıç tarihi belirlenenden önce mi
                    //    console.log(dropInfoEvent.start);
                    //    return false;
                    //}

                });
                calendar.render();
                /*console.renderEvents();*/
            });

        </script>
    }
    <body>

    </body>
